html,
body {
  margin: 0;
  padding: 0;
}

ca display: {
  block;
}

button {
  background-color: gray;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-color: red;
  border-radius: 12px
}
a {
  color: #8B0000;
}